// Body
$body-bg: #f8fafc;
$body-bg-blue: #85F4FF;

.nav-color {
    background-color: $body-bg-blue;
}

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-sans-serif: white;


